* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

header {
	background-color: #075E54;
	width: 100%;
	font-size: 18pt;
	color: #FFF;
	padding: 10pt 8pt;
    font-weight: normal;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
	background: #ECE5DD;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail,
p {
	display: inline-block;
	background: #FFF;
	max-width: 60%;
	float: left;
	clear: both;
	margin: 8pt 5pt;
	border-radius: 8pt;
}


p {
	line-height: 18pt;
	font-size: 15pt;
	word-wrap: break-word;
	padding: 8pt;
	float: left;
}

p::before{
	content: attr(data-from);
	font-size: 12pt;
	font-weight: bold;
	color: #075E54;
	display: block;
	line-height: 1;
	margin-bottom: 6pt
}

p::after {
	content: attr(data-date);
	font-size: 13pt;
    color: #444;
    display: inline-block;
	float: right;
	word-wrap: break-word;
	margin-left: 5pt;
	vertical-align: middle;
}

.host {
	background-color: #DCF8C6;
	float: right!important;
}

.system {
	font-size: 12pt;
	color: #AAA;
}

.system::after {
	color: #AAA;
}

.thumbnail {
	display: inline-block;
	position: relative;
	width: 300pt;
	height: 300pt;
	border-radius: 5pt;
	padding: 8pt;
	clear: both;
	float: left;
	overflow: hidden;
	border: 4pt solid #FFF;
	background-color: #000;
	transition: all .3s ease-in-out .3s;
}

.thumbnail img,
.thumbnail video {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	max-width: auto;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}

.thumbnail:hover {
	width: 95%;
	max-width: 95%;
	height: 90vh;
}
